
.aling{
  position: absolute;
  top:18%;
  left: 15%;
}

.main-footer {
  top: 92%;
  position: fixed;
  left: 13%;
  color: #869099;
  padding: 1rem;
}

.example-full-width {
  width: 300px;
}

.editMat{
  width: 426px;
  height: 27px;
  border-radius: 60px;
  padding: 0px 0px 0px 11px;
  font-size: 18px;
  top: 13px;
  position: relative;
  border-color: #777777;
}

.editSpan1{
  font-size: 21px;
    color: #777777;
    left: 6px;
    position: relative;
}

.editMatIdad{
  width: 398px;
}

.editMatId{
  width: 250px;
  top: 20%;
  left: 26%;
}

.editMatSer{
  width: 375px;
  top: 39%;
  left: 3%;
}

.editMatTur{
  width: 425px;
  left: 27%;
  top: 39%;
}

.line{
  width: 305%;
  background-color: #777777;
  height: 2px;
  top: 12px;
  position: relative;
}


.div1{
  font-size: 40px;
  color: #777777;
}

.div2{
  top: 30%;
  position: fixed;
}

.div3{
  position: fixed;
  top: 61%;
  display: flex;
  left: 53%;
}

.divbtn1{
  width: 132px;
  height: 40px;
  border-radius: 19px;
  background-color:#1c4819d9;
  color: #fff;
}

.divbtn2{
  width: 132px;
  height: 40px;
  border-radius: 19px;
  background-color: #0a3d07;
  color: #fff;
}

::ng-deep body {
  background-color:#fff;
  opacity: 95%;
}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #033500;
  border-color: #033500;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  border-color: rgb(22, 22, 47);
  color: rgb(10, 22, 10);
}
