
<div class="aling">
  <div class="div1">
    <span>Saiba mais</span>
  </div>

  <div class="line"></div>
</div>

<div class="div2">
  <div style="width: 67%;font-size: 19px;" class="color">
    A reciclagem é quando pegamos coisas que já usamos e transformamos elas em algo novo. Por exemplo, se tivermos uma garrafa de plástico vazia, podemos reciclá-la e transformá-la em outra coisa, como uma nova garrafa ou até mesmo um brinquedo legal.
Mas antes de reciclar, é importante fazer a coleta seletiva. Isso significa separar os diferentes tipos de lixo. Algumas cidades separam o lixo em orgânico (restos de comida, cascas de frutas) e reciclável (papel, plástico, vidro), mas em alguns lugares, as lixeiras têm cores especiais para cada tipo de material reciclável.
É legal também não confundir a reciclagem com a reutilização. A reutilização é quando a gente usa algo de novo sem precisar mudar suas propriedades. Por exemplo, se tivermos um pote de plástico, podemos lavá-lo e usar para guardar outras coisas.

  </div>
  <div style="width: 67%;font-size: 19px;" class="color">
    Separar os resíduos de forma correta é muito importante para ajudar a reciclagem e
    proteger o meio ambiente. Para fazer isso direito, é muito importante saber as cores
    e os símbolos que são usados na reciclagem. Assim a gente consegue separar os materiais
    de maneira correta e fazer a nossa parte para cuidar da natureza.
  </div>
  <div style="font-size: 19px;margin-top: 1%;width: 67%" class="color" >
    O Conama, que é um grupo de pessoas que cuidam do meio ambiente, criou algumas cores especiais para ajudar na separação do lixo. Cada cor representa um tipo diferente de lixo. Assim, fica mais fácil identificar e separar os materiais corretamente.
  </div>
  <div>

  </div>
</div>

<div style="left: 14%;position: relative;width: 800px;">
  <div>
    <div  class="lixeira1"></div>

    <div style="width: 117%;font-size: 19px;margin-top: 1%;" class="color">
      Com o passar dos anos, a quantidade de lixo que produzimos aumentou por causa do crescimento da população e do avanço da tecnologia. Isso não é legal, pois os resíduos podem causar problemas no ambiente, como poluir o solo e a água, além de ocupar muito espaço nos aterros sanitários.
      Por isso, a reciclagem é muito importante! Ela é um processo em que transformamos o lixo em algo novo. Isso ajuda a diminuir a quantidade de resíduos que vão para os aterros sanitários, evitando os impactos que eles causam. Além disso, quando reciclamos, não precisamos usar tantos recursos naturais para fazer novos produtos.

    </div>

    <div style="width: 117%;font-size: 19px;margin-top: 1%;margin-bottom: 2%;" class="color">
      Aqui estão as principais cores e alguns exemplos de materiais que pertencem a cada uma delas:
	Azul: jornal, papelão, revistas, caderno.
	Vermelho: sacolas, embalagens, potes e garrafas plásticas.
	Verde: frascos, copos e garrafas de vidro.
	Amarelo: peças de alumínio e cobre, latas em geral.
	Marrom: restos de alimento, carnes, vegetais.
	Cinza: resíduo geral não reciclável ou misturados.

Além destas, ainda existem algumas categorias que são menos comuns.
	Preto: madeira.
Laranja: resíduos perigosos ou contaminados.
	Roxo: resíduos radioativos
	Branco: resíduos de ambulatórios e serviço de saúde.

    </div>
  </div>
</div>
