
<div mat-dialog-content>
  <div class="div1">
    <div>
      <span>Atividades </span>
    </div>
    <div class="divBtn">
      <button mat-button (click)="close()" >
        <i class="fas fa-times close"></i></button>
    </div>
  </div>

  <div class="div2">
    <table>
      <thead>
        <tr>
          <th>Atividade</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Quiz Sustentabilidade - Nivel Fácil</td>
          <td>Nota: 5</td>
        </tr>
        <tr>
          <td>Quiz Sustentabilidade - Nivel Médio</td>
          <td>Nota: 6</td>
        </tr>
        <tr>
          <td>Quiz Reciclagem - Nivel Fácil</td>
          <td>Nota: 9</td>
        </tr>
        <tr>
          <td>Quiz Reciclagem - Nivel Médio</td>
          <td>Nota: 5</td>
        </tr>
        <tr>
          <td>Jogo</td>
          <td>Nota: 10</td>
        </tr>
      </tbody>
    </table>
  </div>



</div>
