server:
  port: 8080

spring:
  application:
    name: core
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  jmx:
    enabled: false
  datasource:
    url: jdbc:mysql://mysqlserver.cuxwqonqx3vv.us-east-1.rds.amazonaws.com/seletinha?useTimezone=true&serverTimezone=UTC
    username: admin
    password: admin1234
