.card1{
  width: 446px;
  height: 381px;
  border-radius: 51px;
  background-color: #1B1B1B;
  left: 22%;
  position: fixed;
  top: 18%;
}

.card2{
  width: 446px;
  height: 381px;
  border-radius: 51px;
  background-color: #1B1B1B;
  left: 967px;
  position: fixed;
  top: 147px;
}

::ng-deep body {
  background-color:#333333;
  opacity: 95%;
}
