<app-menu [tela]="tela"></app-menu>

<div class="aling">

  <div class="div4">
    <span>Turmas cadastradas</span>
  </div>


  <div  class="div1" *ngFor="let element of turma.listTurma">
    <div (click)="aluno(element.team)">
      <div class="div2">
        <div style="font-weight: bold;"> Turma:</div>
        <div class="ajustdiv1"> {{ element.team }}</div>
      </div>
    </div>
  </div>




</div>



<footer class="main-footer">
  <strong>Copyright &copy; 2023-2023 <a>Seletinha</a></strong> Todos os direitos reservados.
</footer>
