::ng-deep body {
  background-color:#333333;
  opacity: 95%;
}

.div1{
  top: 15%;
  position: fixed;
  width: 494px;
  height: 541px;
  background-color: #909675d6;
  left: 35%;
  border-radius: 49px;
}

.div2{
  top: 4%;
  position: relative;
  left: 12%;
}

.div3{
  position: relative;
  top: 3%;
  left: 12%;
}

.div6{
  top: 6%;
  position: relative;
  left: 12%;
}

.div7{
  top: 3%;
  position: relative;
  left: 12%;
}

.div8{
  top: 2%;
  position: relative;
  left: 12%;
}

.editMat{
  width: 356px;
}

.editMat1{
  width: 276px;
}

.editMat2{
  width: 264px;
}

.div4{
  position: relative;
  left: 35%;
}


.div5{
  font-size: 29px;
  color: #fff;
  top: 3%;
  position: relative;
  left: 22%;
}

.divbtn1{
  width: 132px;
  height: 40px;
  border-radius: 19px;
  background-color: #81875e;
  color: #fff;
}



::ng-deep body {
  background-image: url('../imagens/img2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #033500;
  border-color: #033500;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  border-color: rgb(22, 22, 47);
  color: rgb(10, 22, 10);
}
