<div class="aling">
  <div class="div1">
    <span>Cadastro de Atividades</span>
  </div>

  <div class="div2">
    <div>
      <mat-form-field  class="editMat" appearance="outline">
        <mat-label>Serie</mat-label>
        <mat-select>
         <mat-option value="1">3º Ano</mat-option>
         <mat-option value="2">2º Ano</mat-option>
         <mat-option value="3">1º Ano</mat-option>
         <mat-option value="4">9º Ano</mat-option>
         <mat-option value="5">8º Ano</mat-option>
         <mat-option value="6">7º Ano</mat-option>
         <mat-option value="6">6º Ano</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="editMatIdad" appearance="outline">
        <mat-label>Turma</mat-label>
       <mat-select>
        <mat-option value="1">A</mat-option>
        <mat-option value="2">B</mat-option>
        <mat-option value="3">C</mat-option>
       </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="editMatId" appearance="outline">
        <mat-label> Tipo de atividade</mat-label>
        <mat-select>
          <mat-option value="1">Sustentabilidade - Nivel Fácil</mat-option>
          <mat-option value="2">Sustentabilidade - Nivel Médio</mat-option>
          <mat-option value="3">Sustentabilidade - Nivel Difícil</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field  class="editMatSer" appearance="outline">
        <mat-label>Alunos</mat-label>
        <mat-select [formControl]="alunosSelect" multiple>
          <mat-option *ngFor="let alunos of allAlunos" [value]="alunos">{{alunos}}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>

  </div>

  <div class="div3">
    <div>
      <button mat-flat-button class="divbtn2">Cancelar</button>
    </div>

    <div style="left: 27%;position: fixed;">
      <button mat-flat-button  class="divbtn1">Salvar</button>
    </div>
  </div>


</div>

