.aling{
  position: absolute;
  top:18%;
  left: 15%;
}

.div1{
  width: 576px;
  height: 111px;
  display: inline-block;
  background-color: #f9f9f9;
  border-radius: 25px;
  margin-left: 16px;
  margin-top: 16px;
}

::ng-deep body {
  background-color:#e8dfcd !important;
  opacity: 95%;
}
