

.div1{
  top: 31%;
  position: fixed;
  width: 381px;
  height: 317px;
  background-color: #909675d6;
  left: 39%;
  border-radius: 49px;
}

.div2{
  top: 27%;
  position: relative;
  left: 14%;
}

.div3{
  position: relative;
  top: 28%;
  left: 14%;
}

.editMat{
  width: 276px;
}

.div4{
  position: relative;
  top: 24%;
  left: 34%;
}

.divbtn1{
  width: 132px;
  height: 40px;
  border-radius: 19px;
  background-color: #81875e;
  color: #fff;
}



::ng-deep body {
  background-image: url('../imagens/img2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #033500;
  border-color: #033500;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  border-color: rgb(22, 22, 47);
  color: rgb(10, 22, 10);
}
