::ng-deep body {
  background-color:#e8dfcd !important;
  opacity: 95%;
}

.div1{
  position: relative;
  margin-top: 7%;
  margin-left: 5%;
}

.container{
  background-image: url('./imagens/fundo.png');
  background-size: cover;
  background-position: center;
  width: 934px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.lixeira1{
  background-image: url('./imagens/lixeira1.png');
  background-size: cover;
  background-position: center;
  width: 150px;
  height:232px;
  transition: box-shadow 0.3s, transform 0.3s;
  position: relative;
  margin-top: -1%;
}

.lixeira1:hover {
  transform: translate(10px, -10px);
}

.lixeira2{
  background-image: url('./imagens/lixeira2.png');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 232px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.lixeira2:hover {
  transform: translate(10px, -10px);
}

.lixeira3{
  background-image: url('./imagens/lixeira3.png');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 232px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.lixeira3:hover {
  transform: translate(10px, -10px);
}

.lixeira4{
  background-image: url('./imagens/lixeira4.png');
  background-size: cover;
  background-position: center;
  width: 150px;
  height:232px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.lixeira4:hover {
  transform: translate(10px, -10px);
}

.lixeira5{
  background-image: url('./imagens/lixeira5.png');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 232px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.lixeira5:hover {
  transform: translate(10px, -10px);
}

.lixeira6{
  background-image: url('./imagens/lixeira6.png');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 232px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.lixeira6:hover {
  transform: translate(10px, -10px);
}

.ajustDiv{
  display: flex;
  position: absolute;
  top: 61%;
}

.bntPlay{
  width: 99px;
  height: 67px;
  background-color: #426618;
  border-radius: 20px;
}

.pulsating {
  animation: pulsate 1s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.play{
  color: #fff !important;
  font-size: 20px !important;
}

.divBtn{
  top: 42%;
  position: relative;
  left: 45%;
}

.atv1{
  background-image: url('./imagens/atv1.png');
  background-size: cover;
  background-position: center;
  width: 285px;
  height: 187px;
}

.atv2{
  background-image: url('./imagens/atv2.png');
  background-size: cover;
  background-position: center;
  width: 285px;
  height: 187px;
}

.atv3{
  background-image: url('./imagens/atv3.png');
  left: 6%;
  background-size: cover;
  background-position: center;
  width: 184px;
  height: 207px;
  position: relative;
}

.atv4{
  background-image: url('./imagens/atv4.png');
  background-size: cover;
  background-position: center;
  width: 285px;
  height: 187px;
}

.atv5{
  background-image: url('./imagens/atv5.png');
  background-size: cover;
  background-position: center;
  width: 285px;
  height: 187px;
}

.atv6{
  background-image: url('./imagens/atv6.png');
  background-size: cover;
  background-position: center;
  width: 260px;
  height: 269px;
}

.ajustDiv2{
  position: relative;
  left: 30%;
  top: 12%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.divText{
  position: relative;
  display: flex;
  align-items: center;
  width: 303px;
  height: 47px;
  background-color: aliceblue;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 15px;
  left: 31%;
  top: 34px;
}

.divTextCorrect{
  position: relative;
  display: flex;
  align-items: center;
  width: 158px;
  height: 37px;
  background-color: #60a500;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 15px;
  left: 38%;
  top: 54px;
}

.divTextFaill{
  position: relative;
  display: flex;
  align-items: center;
  width: 158px;
  height: 37px;
  background-color: rgba(212, 0, 0, 0.752);
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 15px;
  left: 38%;
  top: 54px;
}

.divTextFinal{
  position: relative;
  display: flex;
  align-items: center;
  width: 316px;
  height: 59px;
  background-color: #8ac955;
  border-radius: 24px;
  font-size: 46px;
  font-weight: bold;
  padding: 0px 0px 8px 31px;
  left: 34%;
  top: 252px;
  color: #e8f832;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #428bca;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #3071a9;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 352px;
}

.quiz-container {
  width: 687px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 17px;
  background-color: #f9f9f9;
}

.question {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.example-margin {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 17px;
  background-color: #194313;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #1a4514 !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1a4514 !important;
}
