<app-menu [tela]="tela"></app-menu>


<div class="div1">

  <div  class="container" *ngIf="jogo1">

    <div class="divBtn" *ngIf="play">
      <button mat-button class="bntPlay" >
        <i class="fas fa-play play"></i>
      </button>
    </div>

    <div class="ajustDiv" *ngIf="lixeira">
      <div class="lixeira1">

      </div>

      <div class="lixeira2">

      </div>

      <div class="lixeira3">

      </div>

      <div class="lixeira4">

      </div>

      <div class="lixeira5">

      </div>

      <div class="lixeira6">

      </div>

    </div>

  </div>

</div>
