
<div class="div1">

  <div class="logo"> </div>

  <div class="div3">
    <div class="line"></div>
    <span>
      Quem é você ?
    </span>

  </div>

  <div class="div4">
    <div>
      <button mat-flat-button  class="divbtn1">Professor</button>
    </div>

    <div class="ajustBtn">
      <button mat-flat-button  class="divbtn1">Aluno</button>
    </div>
  </div>

</div>

<div class="div7">

  <div class="div2">
    <span>
      Seja bem-vindo ao SELETINHA, um jeito fácil e divertido
      de aprender sobre a reciclagem, os cuidados com o nosso planeta
      e a importância da sustentabilidade.</span>
      <span>
        <br>Junte-se a nós na jornada de
      conscientização e descubra como pequenas ações podem fazer
      uma grande diferença para preservar o meio ambiente.
      </span>
  </div>

  <div class="lixeira"> </div>

</div>


